.I-am{
    width: 100%;
    height: 400px;
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.I-am div{
    margin: 20px 0;
}
.nombre-svg{
    width:912px;
    height:48px;
}
.txtweb{
    width:372px;
    height:46px;
}
.imagen{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url('../img/Perfil.jpg');
    background-size: contain;
    background-position: center;
    margin: 20px 0;
}
.txtdev path{
    fill: #2a3047;
    stroke: #2a3047;
    stroke-dasharray: 268px;
    stroke-dashoffset: -268px;
    animation: strDO 4s ease forwards 1s;
}

@keyframes strDO{
   
    70%{
        stroke-dashoffset:0px;
        fill-opacity: 0;        
    }
    100%{
        stroke-dashoffset:0px;
        fill-opacity: 1;
        fill: #2a3047;
    }
}


