.experience{
    width: 100%;
    height:90vh;
    background-color: var(--color5);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.cards{
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.card-container{
    display: flex;
    width: 30%;
    height: 100%;
    flex-wrap: wrap;
}

.card{
    display: flex;
    width: 100%;
    /* background-color: var(--color2); */
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-out;
    box-sizing: border-box;
    /* overflow: hidden; */
    position: relative;
}

.card-container:hover .card{
    transform: rotateY(180deg);
}
.front, .reverse {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    display: flex;
    backface-visibility: hidden;
    background-color: var(--color2);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 20px 0 var(--color2);
    
    /* z-index:1; */    
    /* transform: rotateY(0deg); */
}
.reverse{
    background-color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color5);
    transform: rotateY(180deg);        
}

figure > img{
    width: 90%;
    
}


.card h2{
    margin: 0 0 0px 10px;
    font-size: 1.4em;
    max-height: 25%;
}

.card p{
    margin: 0px 30px 10px 30px;
    text-align: justify;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    /* font-family: 'Poppins'; */
    font-weight: bold;
    max-height: 25%;
}

.knowledge{
    width: 95%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    align-items: center;
}

.knowledge-bar{
    flex: 0 1 auto;
    position: relative;
    width: 30%;
    height: 50px;
    background-color: rgba(146, 160, 228, 0.26);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 12px;
    box-sizing: border-box;
    padding: 0 15px 0 0;
}
.knowledge-bar div{
    display: flex;
    height: 30px;
    z-index: 1;
    font-size: 18px;
    align-items: center;
}
.knowledge-bar .expectative{
    width: 100%;
    height: 30px;
    z-index: 1;
    background-color: #b8cabcbd;
}
.knowledge-bar span{
    width: 40%;
}

.bar-JS{
    background-color: #ebe826;
    width: 0;
    transition: width 2s linear;
}
.bar-Html{
    background-color: #d86623;
    width: 0;
    transition: width 2s linear;

}
.bar-Css{
    background-color: #2692eb;
    width: 0;
    transition: width 2s linear;

}
.bar-En{
    background-color: var(--color1);
    width: 0;
    transition: width 2s linear;

}


