@import './headder.css';
@import './aboutMe.css';
@import './socialMedia.css';
@import './jobs.css';
@import './experience.css';
@import './studies.css';
@import './footer.css';
:root{
    --color1: #20609c;
    --color2: #5883AC;
    --color3:  #318FE8;
    --color4: #164169;
    --color5: #F0F1F2;
}
*{
    margin: 0 ;
    padding: 0;
    font-family:Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#hamb-menu{
    display: none;
}

@keyframes slide{
    0%{
        width: 60px;        
        background-color: transparent;
        /* box-shadow: 0 0 12px 1px rgb(29, 27, 27); */
    }
    20%{
        transform: scale(0.97);
    }
    100%{
        width: 240px;
        background-color: var(--color5);
        /* box-shadow: 0 0 12px 1px rgb(29, 27, 27); */
    }
}
@keyframes revslide{
    from{
        width: 240px;        
        background-color: #aae2e2;
        /* box-shadow: 0 0 12px 1px rgb(29, 27, 27); */
    }to{
        width: 60px;   
        transform: scale(0.95); 
        background-color: transparent;
        /* box-shadow: 0 0 12px 1px rgb(29, 27, 27); */
    }
    
}

@media (max-width:480px) {
    nav ul{
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        transition: all 1s;
        background-color: var(--color1);
        top: 60px;
    }
    .label-menu {
        box-sizing: border-box;
        display: inline-block;        
        border-radius: 5px;
        border: 0.5px solid rgb(124, 121, 153);
        padding: 10px;        
        line-height: 30px;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        user-select: none;
        /* box-shadow: 2px 2px 4px 1px #778897; */
    }
    #hamb-menu{        
        display: flex;
        left: 100px;
        padding-left: 80px;
    }
    #hamburger {
        display: none;
    }
    #hamburger:checked~ul{
        transform: translateX(-300px);
        background-color: #5883AC;
    }
    #hamburger:checked ~ label {
        
        background: var(--color1);
    }
    
    
    .nombre-svg{
        max-width: 60%;
    }
    .txtweb{
        max-width: 40%;
    }
}
