.studies{
    width: 100%;
    /* position: fixed; */
    height: 100vh;    
    top: 100%;
    z-index: -1;
    background-image: url("../img/Background.png");
    background-size: cover;
    color: white;
    
}
.form-box{
    display: flex;
    font-family: 'Poppins',sans-serif;
    flex-direction: column;
    position: absolute;
    height: 80vh;
    right: 140px;
    padding: 20px;
    box-sizing: border-box;
    row-gap: 10px;
    background-color: rgba(63, 61, 80, 0.733);
}
.form{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
    position: relative;
}
.form button{
    align-self: flex-end;
    width: 30%;
    margin: 10px 0 0 0;
    right: 100%;

}
.form input{
    height: 2.5em;
}
.form input:focus, textarea:focus{
    outline: rgba(206, 206, 226, 0.726);
    background-color: rgb(255, 255, 255);
}
.form input, textarea{
    margin-top: 10px;
    border-radius: 2px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background: rgba(246, 246, 252, 0.849);
    padding: 0 10px 0 10px;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}