---
import Layout from "../layouts/Layout.astro";
import Experiencia from "../components/Experiencia.astro";
import Header from "../components/Header.astro";
import Proyects from "../components/Proyects.astro";
import Technologies from "../components/Technologies.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
---

<Layout title="Marco Antonio Renteria">
  <main class="w-[1200px] sm:px-11 px-5 pb-11 bg-white">
    <Header />
    <Experiencia />
    <Proyects />
    <Technologies />
    <Footer />
  </main>
</Layout>

<style></style>
