<section class="flex flex-wrap ">
 <h5 class=" TextColor font-medium text-[25px] mb-4 ">Experiencia</h5>
 <div class="flex items-center gap-6 pt-[20px] pb-[40px]">
  <img src="src/assets/images/GyV.png" class="flex" alt="">
  <div class="flex flex-wrap gap-y-2">
    <span class="w-[100%] text-slate-400"> Sep, 2022  -  Hoy</span>
    <p class=" text-[15px] leading-5 font-normal ">GyV internacional es la empresa que me dio la bienvenida en mi carrera como desarrollador web. Recien egresado me encontre con retos muy impoirtantes los cuales fueron complicados de resolver y aun con eso logre cumplir las expectativas de los trabajos a los cuales fui asignado</p>
  </div>  
 </div>
 <div class="flex mt-10">
  <p> Soy un apasionado desarrollador de software en la plataforma web con <strong> más de dos año </strong> de experiencia en la industria. Mi enfoque principal ha sido el desarrollo utilizando tecnologías como <strong>Vue.js</strong>, <strong>.NetCore</strong> y <strong>SQL Server</strong>. A lo largo de mi carrera, he sido capaz de tomar requerimientos y <strong>ofrecer soluciones a las problematicas</strong> de manera eficiente y escalable</p>
 </div>
</section>


