---
import Icon from "./Icon.astro";
---

<footer class="bg-white rounded-lg  m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="flex flex-wrap items-center gap-y-4 sm:justify-around justify-center">
      <span
        class="block text-sm text-gray-500 sm:text-center "
        >© 2023 <a  class="hover:TextColor"
          >Marco Antonio Renteria Ramirez™</a
        >. All Rights Reserved.</span
      >
      <div class="flex justify-around w-40">
        <Icon
          class="top-[10%]"
          icon="Facebook"
          size="30px"
          urlTo="https://www.facebook.com/marco.tkas13"
          gradient
        />
        <Icon
          class="top-[32%]"
          icon="github"
          size="30px"
          urlTo="https://github.com/Marco-codeTKAS"
          gradient
        />
        <Icon
          class="top-[57%]"
          icon="instagram"
          size="30px"
          urlTo="https://www.instagram.com/marcoramirez2544/"
          gradient
        />
        <Icon
          class="top-[79%]"
          icon="linkedin"
          size="30px"
          urlTo="https://www.linkedin.com/in/marco-antonio-rentería-ramírez-96032317a"
          gradient
        />
      </div>
    </div>
  </div>
</footer>
