---
import AstroSvgrepo from "../assets/icons/astro_svgrepo.astro";
import BootstrapSvgrepo from "../assets/icons/bootstrap_svgrepo.astro";
import Css3Svgrepo from "../assets/icons/css-3_svgrepo.astro";
import FigmaSvgrepo from "../assets/icons/figma_svgrepo.astro";
import GitSvgrepo from "../assets/icons/git_svgrepo.com.astro";
import Html5Svgrepo from "../assets/icons/html-5_svgrepo.astro";
import JavascriptSvgrepo from "../assets/icons/javascript_svgrepo.astro";
import MicrosoftSqlServer from "../assets/icons/microsoftsqlserver_svgrepo.astro"
import TailwindSvgrepo from "../assets/icons/tailwind_svgrepo.astro";
import Vue9LogoSvgrepo from "../assets/icons/vue-9-logo_svgrepo.astro";
---

<div class=" w-full mt-[140px] gap-y">
  <hr class="my-8 bg-gradient-to-r from-[--accent-light] to-[--accent-regular] h-[4px] opacity-50 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <div class="flex justify-around mb-8">
    <AstroSvgrepo></AstroSvgrepo>
    <BootstrapSvgrepo></BootstrapSvgrepo>
    <Css3Svgrepo></Css3Svgrepo>
    <FigmaSvgrepo></FigmaSvgrepo>
    <GitSvgrepo></GitSvgrepo>
  </div>
  <div class="flex justify-around">
    <Html5Svgrepo></Html5Svgrepo>
    <JavascriptSvgrepo></JavascriptSvgrepo>
    <MicrosoftSqlServer></MicrosoftSqlServer>
    <TailwindSvgrepo></TailwindSvgrepo>
    <Vue9LogoSvgrepo></Vue9LogoSvgrepo>
  </div>
  <hr class="my-8 bg-gradient-to-r from-[--accent-light] to-[--accent-regular] h-[4px] opacity-50 sm:mx-auto dark:border-gray-700 lg:my-8" />
</div>